/* You can add global styles to this file, and also import other style files */


.cursorPointer {
    cursor: pointer;
}

.noBorderOutline {
    border: none;
    outline: 0px;
}

.bottomBorder {
    border-bottom: 1px solid;
}

.nextSchedule {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-weight: 500;
    max-width: max-content;
    padding: 4px 6px;
    user-select: none;
    cursor: pointer;
}

.fontDisabled {
    opacity: .54;
}