<div id="dropDownSchedule" #dropDownSchedule class="scheduleMenu">
  <div id="reminderMenu" [hidden]="!showReminder">
    <div (click)="openDateTimePicker()" class="cursorPointer">
      <i class="fas fa-clock lg"></i>
      Pick date and time
    </div>
  </div>
  <div id="dateTimePicker" [hidden]="!showDateTimePicker">
    <div>
      <i class="fas fa-arrow-left lg cursorPointer" (click)="openReminder()"></i>
    </div>
    <input class="noBorderOutline bottomBorder" placeholder="Add a date" name="dp" [(ngModel)]="scheduledDate"
      ngbDatepicker #d="ngbDatepicker" (click)="showDatePicker(d)" autocomplete="off" (dateSelect)="scheduleChange()">
    <br />
    <br />
    <ngb-timepicker [(ngModel)]="time" [spinners]="false" [meridian]="true"></ngb-timepicker>
    <br />
    <ngx-multiselect [(ngModel)]="scheduledRepeat" [options]="repeaters" ngDefaultControl (onReset)="onResetFired()" (onItemClick)="scheduleChange()">
    </ngx-multiselect>
    <button (click)="save()"></button>
  </div>
  <div id="repeater" [hidden]="!showRepeater">
    <i class="fas fa-arrow-left lg cursorPointer" (click)="openDateTimePicker()"></i>
    <div class="cursorPointer">
      <i class="fas fa-clock lg"></i> Option C
    </div>
  </div>
</div>