#dropDownSchedule {
    position: absolute;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
    z-index: 1;
    background-color: white;
}

.scheduleMenu {
    user-select: none;
}

.saveScheduleButton {
    cursor: pointer;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    padding: 8px 23px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: right;
}

.saveScheduleButton:hover {
    background-color: rgba(8, 8, 8, 0.109) !important;
}