<p>Welcome to most efficient task management app : Tasky</p>
<p>To help you get started, we've also set up random checklists which you can play around with:</p>
<div class="editNote">
  <div class="">
    <input type="text" class="col-sm-5" placeholder="Title" #title>
    <br>
    <input type="text" class="col-sm-5" placeholder="Description" #text
      (keyup.enter)="saveNote(title.value, text.value)">
  </div>
</div>
<div class="row" style="display: flex;">
  <div class="col-sm-3 card" style="height: max-content;" *ngFor="let note of notes">
    <div class="card-body">
      <h5 class="card-title">{{note.title}}</h5>
      <p class="card-text" *ngIf="true">{{note.text}}
      </p>
      <span *ngIf="true">
        <label *ngFor="let item of note.items">
          <input type="checkbox" [checked]="item.checked">{{item.text}}
        </label>
      </span>
    </div>
  </div>
</div>
<!-- <button class="big-add">
    <i class="fas fa-plus-circle white"></i>
</button> -->